<h2>Delete Product</h2>

<form method="post">
    <label for="category">{{product.category}} {{product.size}}</label>
    <img src="{{product.imgUrl}}" alt="img">

    <input type="submit" value="Delete product" />
</form>