<h2>Delete Hotel</h2>

<form method="post">
    <label for="title">Hotel title:</label>
    <input type="text" name="title" disabled value="{{hotel.title}}"/>
    <label for="description">Description</label>
    <textarea name="description" rows="10" disabled>{{hotel.description}}</textarea>

    <input type="submit" value="Delete thread" />
</form>