<h1>Customize your order</h1>
<div class="catalog">
    <div class="column">
        <img src="{{product.imageUrl}}" height="200" width="200">
    </div>
    <div class="column">
        <h2>{{product.category}} doner, {{product.size}}cm</h2>
        <h3>Toppings</h3>
        <div class="toppings">
            <form method="post" action="">
                <input name="product_id" type="hidden" value="chicken_21">
                <input name="topping01" type="checkbox" value="topping01"><label for="topping01">Pickles</label><br>
                <input name="topping02" type="checkbox" value="topping02"><label for="topping02">Tomato</label><br>
                <input name="topping03" type="checkbox" value="topping03"><label for="topping03">Onion</label><br>
                <input name="topping04" type="checkbox" value="topping04"><label for="topping04">Lettuce</label><br>
                <input name="topping05" type="checkbox" value="topping05"><label for="topping05">Hot Sauce</label><br>
                <input name="topping06" type="checkbox" value="topping06"><label for="topping06">Extra Sauce</label><br>
                <input type="submit" value="Checkout" class="button" style="border:0"/>
            </form>
        </div>
    </div>
</div>