<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
    img(src="http://www.petmd.com/sites/default/files/what-does-it-mean-when-cat-wags-tail.jpg", alt="kitty")
    ul
      each val in myArray
        li= `Test ${val}`

    if 5 > isAdmin
      h1= 'HELLO ADMIN'
    else
      h1= 'NOT ADMIN'

